{% extends 'base.html' %}
{% block body %}

<!-- BANNER SETUP -->
<!--<style>-->
<!--    .banner{-->
<!--    background-color:red;-->
<!--    width:100%;-->
<!--    height:100px-->
<!--    margin-bottom:50px;-->
<!--}-->
<!--.banner-text{-->
<!--    top:50%;-->
<!--    left:50%;-->
<!--    position:absolute;-->
<!--    transform:transform;-->
<!--}-->
<!--</style>-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
<!--            <div style="background_color:red;width:100%;height:100px;margin_bottm:50px;">-->
            <div class="banner" style="background_color:red;width:100%;height:100px;margin_bottm:50px;">
                <div class="banner-text" style="top:5%;left:40%;position:absolute;transform:transform;">
                  <h1>TODO LIST</h1>
                </div>
            </div>
<!--                </div>-->
        </div>
    </div>
</div>

<!--TODO LIST ADDING -->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" class="p-3 shadow">
                    {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="task" placeholder="enter task">
                </div>
                 <div class="form-group">
                    <input type="text" class="form-control" name="priority" placeholder="enter prority">
                </div>
                 <div class="form-group">
                    <input type="date" class="form-control" name="date" placeholder="enter date">
                </div>
                <input type="submit" class="btn btn-success">
            </form>
        </div>

<!--   ARRANGING THE TODO LIST     -->

        <div class="col-md-6">
            <h4> task to be completed</h4>
            {% for i in task %}
            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p><b>{{i.priority}}</b></p>
                    <p><b>{{i.date}}</b></p>

                    <a class="btn btn-danger" href="{% url 'delete' i.id %}">Done</a>
                    <a class="btn btn-success" href="{% url 'update' i.id %}">update</a>

                </div>
            </div>
            <br>
             {% endfor %}

        </div>

    </div>
</div>
<!--{% for i in task %}-->
<!--{{i.name}}-->
<!--{{i.priority}}<br>-->
<!--{% endfor %}-->

{% endblock %}