{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
     This is the shopping cart page. Proceed to review items and place the order.
{% endblock %}

{% block title %}
Cart - ABC company pvt ltd
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-wS0JB+scVxsk9VVfKTnHVvD5zPLP5VZvb5f/jL7urva7cx9TZ0TkVcX8NsD4Ubjj0kmkO9m/CIg6L/sLeXerfA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
{% block content %}
{% if not cart_items %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center my_title">
            Your shopping cart is empty
        </h1><br>
        <p class="text-center">
            Please click <a href="{% url 'shop:allProdCat' %}">here</a> to continue shopping.
        </p>
    </div>
</div>
{% else %}
<div>
    <div class="text-center"><br>
    <h1 class="text-center my_title">
        Your shopping cart
    </h1><br>
    </div>
</div>
<div class="row mx_auto">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_custom_table">
            <thead class="my_custom_thead">
            <tr>
                <th colspan="5">
                    Your items
                </th>
            </tr>
            </thead>
            <tbody>
            {% for cart_item in cart_items %}
            <tr>
                <td>
                    <a href="{{ cart_item.product.get_absolute_url }}"><img src="{{ cart_item.product.image.url }}" alt="" class="float-left rounded custom_image" height="200" width="200"></a>
                </td>
                <td class="text-left">
                    {{ cart_item.product.name }}
                    <br>
                    SKU: {{ cart_item.product.id }}
                    <br>
                    Price: ${{ cart_item.product.price }}
                    <br>
                    Quantity: {{ cart_item.quantity }} x ${{ cart_item.product.price }}
                </td>
                <td>
                    Total:${{ cart_item.sub_total }}
                </td>
                <td>
                    {% if cart_item.quantity < cart_item.product.stock %}
                    <a href="{% url 'cart:add_cart' cart_item.product.id %}" class="custom_a"><i class="fa fa-plus custom_icon"></i></a>
                    &nbsp;{{ cart_item.quantity }}&nbsp;
                    <a href="{% url 'cart:cart_remove' cart_item.id %}" class="custom_a"><i class="fa fa-minus custom_icon"></i></a>
                    &nbsp;<a href="" class="custom_a"><i class="fa fa-trash custom_icon"></i></a>
                    {% else %}
                    &nbsp;{{ cart_item.quantity }}&nbsp;
                    <a href="{% url 'cart:cart_remove' cart_item.id %}" class="custom_a"><i class="fa fa-minus custom_icon"></i></a>
                    &nbsp;<a href="" class="custom_a"><i class="fa fa-trash custom_icon"></i></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_custom_table">
            <thead class="my_custom_thead">
            <tr>
                <th>
                    Checkout
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    Please review your shopping cart items before proceeding with the order payment.
                </td>
            </tr>
            </tbody>
        </table>
        <div class="mx_auto">
            <a href="{% url 'shop:allProdCat' %}" class="btn btn-secondary btn-block my_custom_button">Continue shopping</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
</body>
</html>

<button type="submit" class="btn-icon">